@model LotteryApplication.Models.Participation

@{
    ViewData["Title"] = "Details Participation";
}

<h1>Details</h1>

<div>
    <h4>Participation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveWon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfParticipation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfParticipation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
