
@{
    ViewData["Title"] = "Index";
}
<h1>Number of participants : @ViewData["NumberOfParticipants"]</h1>
<h1>Number of participations : @ViewData["NumberOfParticipations"]</h1>
<h1>Index</h1>
<form asp-action="LotteryResult" method="get">
    <div class="form-group">
        <input type="submit" value="Choose the winners" class="btn btn-primary" />
    </div>
</form>
<form asp-action="Participants">
    <div class="form-group">
        <input type="submit" value="Manage Participants" class="btn btn-primary" />
    </div>
</form>
<form asp-action="Participations">
    <div class="form-group">
        <input type="submit" value="Manage Participations" class="btn btn-primary" />
    </div>
</form>
