
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="LotteryResult">
    <div class="form-group">
        <input type="submit" value="Choose the winners" class="btn btn-primary" />
    </div>
</form>

