@{
    ViewData["Title"] = "About Us";
}
<body style="background-color:#CBEDD5 !important ;">
    <center>
    <h2 id="abt">About Us</h2>
    <br />
    <div id="cont">
            
        <p id="parag">The Moroccan Visa Lottery Program is a government-sponsored initiative that offers the opportunity for individuals from around the world to apply for a visa to live and work in Morocco. The program is open to individuals from all countries and aims to attract talented and skilled individuals who can contribute to the growth and development of Morocco.</p>
        <p id="parag">The Moroccan Visa Lottery Program is administered by the Moroccan Ministry of Interior and is open to individuals in a wide range of fields, including business, technology, education, healthcare, and more. The program is competitive and applications are reviewed on a rolling basis. Successful applicants will be notified and will receive assistance with the visa application process.</p>
        <p id="parag">We are committed to promoting diversity and inclusion in Morocco and believe that the Moroccan Visa Lottery Program is a valuable opportunity for individuals to experience the rich culture and history of our country. We look forward to receiving your application and welcoming you to Morocco!</p>
        </div>
    </center>
    
</body>

