@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Welcome To the Moroccan Visa program ! </h1>
    <h3 class="display-8">If you wanna participate in the visa lottery make sure to login to your account or register if you don't have one !' </h3>
    
    
</div>
