@{
    ViewData["Title"] = "Home Page";
}


<body id="image">
<div class="text-center">

    <h1 class="display-4" style="font-weight:600">Welcome To the Moroccan Visa program ! </h1>
    <br />
    <h3 class="display-10" style="font-weight:400;">If you wanna participate in the visa lottery make sure to login to your account or register if you don't have one ! </h3>
    
    
</div>
</body>