@model LotteryApplication.Models.Participation


@{
    ViewData["Title"] = "Index";
}
@if (Model == null)
{
    <h3 class="display-8">Are you ready to experience the vibrant culture and stunning landscapes of Morocco? </h3>
    <p style="font-weight:400;">
        <ul>
            <li>
                The Morocco lottery visa program offers you the chance to win a visa and visit this amazing country. All you have to do is click the "Participate" button below and submit your application.
            </li>
            <li>
                To be eligible to participate in the Morocco lottery visa program, you must be a citizen of a participating country and meet the necessary requirements for a visa to Morocco. The application process is quick and easy, and you can submit your application online through our secure website.
            </li>
            <li>
                The Morocco lottery visa program is held annually, and winners will be selected through a random drawing. 
            </li>
        </ul>
        This is a once-in-a-lifetime opportunity to explore the rich history and culture of Morocco, so don't miss out! Click the "Participate" button now to submit your application and get the chance to win a visa to visit this beautiful country.

    </p>
    <center>
        <form asp-action="Create">
            <div class="form-group">
                <input type="submit" id="cr" value="Participate" class="btn btn-primary" />
            </div>
        </form>
</center>
<br />
}
else{
    
<table class="table">
    <thead>
        <tr>
            <th>
                Participation Id
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.DateOfParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                    @Html.DisplayFor(Model => Model.Id)
            </td>
            <td>
                    @Html.DisplayFor(Model => Model.DateOfParticipation)
            </td>
            <td>

                    <a asp-action="Delete" asp-route-id="@Model.Id" ><i class="gg-trash-empty"></i></a>
            </td>
        </tr>
    </tbody>
</table>
   


    ;
    @if(Model.HaveWon==true){
        <center> <h3 class="a">Congrats you have won the lottery ! </h3> </center>
    }
    
 
    
}



