@model LotteryApplication.Models.Participation


@{
    ViewData["Title"] = "Index";
}
<center>
    <a class="btn btn-primary"  asp-action="Create" id="cr" type="submit" > + Create New Participation </a>
    
</center>
<br />
    

<table class="table">
    <thead>
        <tr>
            <th>
                Participation Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => Model.DateOfParticipation)
            </td>
            <td>

                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="gg-trash-empty"></i></a>
            </td>
        </tr>
    </tbody>
</table>

    @if(Model.HaveWon==true){
        <h3 class="a 1">Congrats you have won the lottery ! </h3>
    }
    

}


