@model LotteryApplication.Models.Participation


@{
    ViewData["Title"] = "Index";
}

@if(Model==null){
    <form asp-action="Create">
        <div class="form-group">
            <input type="submit" value="Create participation" class="btn btn-primary" />
        </div>
    </form>
}

else{

<table class="table">
    <thead>
        <tr>
            <th>
                Participation Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => Model.DateOfParticipation)
            </td>
            <td>
               
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

    @if(Model.HaveWon==true){
        <h3 class="a 1">Congrats you have won the lottery ! </h3>
    }
    

}


