@model LotteryApplication.Models.Participation


@{
    ViewData["Title"] = "Index";
}
@if (Model == null)
{
    <center>
        <form asp-action="Create">
            <div class="form-group">
                <input type="submit" id="cr" value="Participate" class="btn btn-primary" />
            </div>
        </form>
</center>
<br />}
else{
    
<table class="table">
    <thead>
        <tr>
            <th>
                Participation Id
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.DateOfParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                    @Html.DisplayFor(Model => Model.Id)
            </td>
            <td>
                    @Html.DisplayFor(Model => Model.DateOfParticipation)
            </td>
            <td>

                    <a asp-action="Delete" asp-route-id="@Model.Id" ><i class="gg-trash-empty"></i></a>
            </td>
        </tr>
    </tbody>
</table>
   


    ;
    @if(Model.HaveWon==true){
        <center> <h3 class="a">Congrats you have won the lottery ! </h3> </center>
    }
    
 
    
}



